@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap');

/* clear browser defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #333;
}

/* header and logo styles */

h1, h2 {
    font-family: 'Merriweather', serif;
}

h1 {
    color: #7c26cb;
}

h2 {
    color: #333;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 35px;
    letter-spacing: 4px;

    /* Animates logo zoom effect on loading the page */
    animation-name: logo-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for logo */
@keyframes  logo-zoom {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

/* navigation link styles */

#main-menu {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo, #main-menu {
    line-height: 100px;
}

#main-menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px
}

#main-menu a {
    text-decoration: none;
    color: #333;
}

#main-menu a:hover {
    color: #e28a2b;
}

.active {
    font-weight: 700;
}

/* Hero image and tagline */

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/main-image.jpg") no-repeat center center;
}

#tagline h2 {
    color: #fff;
}

#tagline {
    font-size: 100%;
    font-family: 'Merriweather', serif;
    text-align: center;
    width: 50%;
    height: auto;
    padding: 20px 15px;
    margin: 0 auto;
    top: 250px;
    background-color: rgba(226, 138, 43, .8);
    position: relative;
}

/* offerings section styles */

#offerings {
    height: auto;
}

#offerings-image {
    background: url("../images/lotus_bg.png") no-repeat center center;
    height: 1100px;
    width: 100%;
}

#offerings-heading {
    font-size: 225%;
    text-align: center;
    margin: 35px 10px;
}

#left-offerings {
    padding-top: 35px;
    width: 47%;
    float: left;
    margin-left: 2%;
}

#right-offerings {
    padding-top: 35px;
    width: 47%;
    float: right;
    margin-right: 2%;
}

.left-offerings-heading, 
.right-offerings-heading {
    line-height: 1.7em;
    clear: both;
    padding: 20px 35px 15px;
    margin-bottom: 35px;
    background-color: rgba(124, 38, 203, .9);
}

.left-offerings-heading h2, 
.right-offerings-heading h2 {
    color: #fff;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.left-offerings-heading p, 
.right-offerings-heading p {
    color: #fff;
}

.offerings-times-cost {
    color: #f9f9f9;
    text-align: right;
}

.offerings-times-cost > span {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
