@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap');

/* clear browser defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #333;
}

/* header and logo styles */

h1, h2 {
    font-family: 'Merriweather', serif;
}

h1 {
    color: #7c26cb;
}

h2 {
    color: #333;
}

h3 {
    text-align: center;
}

h3 > a {
    color: #7c26cb;
}

h3 > a:hover {
    color: #e28a2b;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 35px;
    letter-spacing: 4px;

    /* Animates logo zoom effect on loading the page */
    animation-name: logo-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for logo */
@keyframes  logo-zoom {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

/* navigation link styles */

#main-menu {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo, #main-menu {
    line-height: 100px;
}

#main-menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px
}

#main-menu a {
    text-decoration: none;
    color: #333;
}

#main-menu a:hover {
    color: #e28a2b;
}

.active {
    font-weight: 700;
}

/* Hero image and tagline */

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/main-image.jpg") no-repeat center center;
}

#tagline h2 {
    color: #fff;
}

#tagline {
    font-size: 100%;
    font-family: 'Merriweather', serif;
    text-align: center;
    width: 50%;
    height: auto;
    padding: 20px 15px;
    margin: 0 auto;
    top: 250px;
    background-color: rgba(226, 138, 43, .8);
    position: relative;
}

/* offerings section styles */

#offerings {
    height: auto;
}

#offerings-image {
    background: url("../images/lotus_bg.png") no-repeat center center;
    height: 1050px;
    width: 100%;
}

#offerings-heading,
#teachers-heading,
#schedule-heading {
    font-size: 225%;
    text-align: center;
    margin: 35px 10px;
}
#teachers-heading,
#schedule-heading {
    clear: both;
}

#left-offerings,
#yoga-classes {
    padding-top: 35px;
    width: 47%;
    float: left;
    margin-left: 2%;
}

#right-offerings,
#meditation-classes {
    padding-top: 35px;
    width: 47%;
    float: right;
    margin-right: 2%;
}

.left-offerings-heading, 
.right-offerings-heading,
.times-heading {
    line-height: 1.7em;
    clear: both;
    padding: 20px 35px 15px;
    margin-bottom: 35px;
    background-color: rgba(124, 38, 203, .9);
}

.left-offerings-heading h2, 
.right-offerings-heading h2,
.times-heading h2 {
    color: #fff;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.left-offerings-heading p, 
.right-offerings-heading p,
.times-heading p {
    color: #fff;
}

.offerings-cost {
    color: #f9f9f9;
    text-align: right;
}

.offerings-cost > span,
.class-times > span {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* teacher section styles */

#left-teacher,
#right-teacher,
#center-teacher {
    padding: 35px 0;
    width: 33%;
    height: auto;
    display: inline-block;
    text-align: center;
}

#left-teacher-heading,
#right-teacher-heading {
    line-height: 1.7em;
    margin-bottom: 35px;
}

#center-teacher-heading {
    line-height: 1.7em;
    margin-bottom: 35px;
}

#left-teacher-heading h2,
#right-teacher-heading h2,
#center-teacher-heading h2 {
    color: #2a2a2a;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 35px 0 15px 0;
}

#left-teacher-heading p,
#right-teacher-heading p,
#center-teacher-heading p {
    padding: 0 35px;
}

/* teacher section circular imagery */

.teacher-image-container {
    width: 300px;
    height: 300px;
    padding: 0px;
    border-style: solid;
    border-color: #e28a2b;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

#left-teacher-image {
    background: url("../images/teacher-left.jpg") no-repeat center center;
}

#right-teacher-image {
    background: url("../images/teacher-right.jpg") no-repeat center center;
}

#center-teacher-image {
    background: url("../images/teacher-center.jpg") no-repeat center center;
}

#left-teacher-image,
#right-teacher-image,
#center-teacher-image {
    height: 100%;
    border-radius: 50%;
}

/* Footer */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
    background-color: #7c26cb;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
}

.social-networks i:hover {
    color: #e28a2b;
    font-size: 250%;
}

/* Copyright and contact */
#bottom-bar {
    text-align: center;
    padding: 1%;
}

#bottom-bar a {
    color: #7c26cb;
}

/* Schedule styles */

#yoga-class-schedule,
#meditation-class-schedule {
    clear: both;
    height: auto;
    width: 100%;
    overflow: hidden; 
    position: relative;
}

.yoga-schedule-image-container {
    float: right;
    margin: 35px 2% 0 0;
}

.meditation-schedule-image-container {
    float: left;
    margin: 35px 0 0 2%;
}

.yoga-schedule-image-container,
.meditation-schedule-image-container {
    width: 47%;
    height: 475px;
    border-style: solid;
    border-color: #e28a2b;
    border-width: 5px;
}

#yoga-schedule-image {
    background: url("../images/yoga-forward-stretch.jpg") no-repeat center center;
    height: 100%;
}

#meditation-schedule-image {
    background: url("../images/meditation-mala-beads.jpg") no-repeat center center;
    height: 100%;
}

#yoga-schedule-image,
#meditation-schedule-image {
    height: 100%;
}

.video {
    max-width: 60%;
    padding: 35px 0;
    display: block;
    margin: auto;
}

/* Enquiry form */

#form {
    clear: both;
    background: url("../images/lotus-flower-blossom.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.interest-registration-form {
    margin: 75px 75px 0 0;
    color: #2a2a2a;
    background-color: rgba(226, 138, 43, .8);
    max-width: 400px;
    position: absolute;
    right: 5%;
    padding: 25px;
}

.interest-registration-form > h2 {
    color: #2a2a2a;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #2a2a2a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #7c26cb;
}

#class-options,
#studio-online {
    margin-bottom: 20px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    background-color: #7c26cb;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Back to top button style */

.bt-top {
    float: right;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    background-color: rgb(226, 138, 43);
    padding: 10px;

    /* last 4 properties checked here https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

.bt-top:hover {
    background-color: rgb(124, 38, 203);
}

.bt-top > a {
    color: #2a2a2a;
    text-decoration: none;
}

.bt-top > a:hover {
    color: #fff;
}

/* Media queries */

/* For large to medium screens sizes from 1450px wide and down */

@media screen and (max-width: 1450px) {
    
    #left-teacher,
    #center-teacher,
    #right-teacher {
        width: 60%;
        clear: both;
        display: block;
        margin: 0 auto;
    }
}


/* For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px) { 

    #logo {
        font-size: 200%;
        margin-left: 35px;
        letter-spacing: 3px;
    }

    #logo, #main-menu {
        line-height: 75px;
    }

    #main-menu {
        font-size: 14px;
    }

    #left-offerings,
    #right-offerings { 
        width: 80%;
        clear: both;
        display: block;
        margin: 0 auto;
    }

    #left-teacher,
    #center-teacher,
    #right-teacher {
    width: 70%;
    clear: both;
    display: block;
    margin: 0 auto;
    }

    #yoga-classes,
    .yoga-schedule-image-container,
    #meditation-classes,
    .meditation-schedule-image-container {
        width: 70%
    }

    .video {
        width: 100%;
    }

}

    /* For medium to small screens sizes from 840px wide and down */

@media screen and (max-width: 840px) {   
    
    h3 { 
        font-size: 16px;
    }
    
    #main-menu {
        clear: left;
        float: left;
        margin-left: 35px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #left-teacher,
    #center-teacher,
    #right-teacher {
    width: 100%;
    }

    #yoga-classes,
    .yoga-schedule-image-container,
    #meditation-classes,
    .meditation-schedule-image-container {
        width: 100%
    }

}

/* For small mobile screens sizes from 480px wide and down */

@media screen and (max-width: 480px) {

    h3, #main-menu { 
        font-size: 12px;
        letter-spacing: 2px;
    }

    #logo {
        font-size: 150%;
        letter-spacing: 2px;
}

/* For smallest screens sizes from 320px wide and down */

@media screen and (max-width: 320px) {

    h3, #main-menu { 
        font-size: 10px;
    }

    #logo {
        font-size: 100%;
}