@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap');

/* clear browser defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #333;
}

/* header and logo styles */

h1 {
    font-family: 'Merriweather', serif;
    color: #7c26cb;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 35px;

    /* Animates logo zoom effect on loading the page */
    animation-name: logo-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for logo */
@keyframes  logo-zoom {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

/* navigation link styles */

#main-menu {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo, #main-menu {
    line-height: 100px;
}

#main-menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px
}

#main-menu a {
    text-decoration: none;
    color: #333;
}

#main-menu a:hover {
    color: #e28a2b;
}

.active {
    font-weight: 700;
}

/* Hero image and tagline */

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/main-image.jpg") no-repeat center center;
}

#tagline h2 {
    color: #fff;
}

#tagline {
    font-size: 100%;
    font-family: 'Merriweather', serif;
    text-align: center;
    width: 50%;
    height: auto;
    padding: 20px 15px;
    margin: 0 auto;
    top: 250px;
    background-color: rgba(226, 138, 43, .8);
    position: relative;
}